<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906042888511-vmajo7vbrpu0ifgj3cmgq6475419jsq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906042888511-vmajo7vbrpu0ifgj3cmgq6475419jsq0</string>
	<key>API_KEY</key>
	<string>AIzaSyBHW03FIL6Lv3VK--7KM8DDLsut7Eqw8GA</string>
	<key>GCM_SENDER_ID</key>
	<string>906042888511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.statedemo</string>
	<key>PROJECT_ID</key>
	<string>statedemo-f6533</string>
	<key>STORAGE_BUCKET</key>
	<string>statedemo-f6533.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906042888511:ios:7162142b90c489bd1f038a</string>
</dict>
</plist>